.grid-con1
{
    display: grid;
  grid-template-columns: repeat(2, 390px);
  grid-template-rows: repeat(5, 40px);
  gap: 10px;
}
.zpr{
  display: flex;
  background-color: #bbb3b3;
  grid-column: 1/3;
  height: 233px;
}
.con
{
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 744px;
  gap: 40px;
  
  button{
    width: 180px;
    height: 48px;
    font-size: 15px;
    color: white;
    top: 75px;
    position: relative;
    background-color: #7c7474;
}
}